h1 {
    color: white;
    font-size: 80px;
    position: relative;
    top: 50px;
    left: 250px;
}

body {
  background-image: url("/home/twells2153/Desktop/WebDevClass/SousChef/food_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-color: grey;
  overflow: hidden;
}

/*=================LEFT COLUMN================*/

.left_column {
  position: fixed;
  width: 150px;
  height: auto;
  bottom: 350px

}

.left_column_options {
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

.left_column_options a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.left_column_options a:hover {
  background-color: #ddd;
  color: black;
  width: 150px;
}

/*===============TOP NAVIGATION BAR=============*/

.container {
  position: absolute;
  margin: 10px;
  width: auto;
  left: 900px;
  bottom: 520px;

}

.topnav {
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*=================FOOTER=================*/

footer {
  background-color: #333;
  color: white;
  opacity: 0.8;
  position: relative;
  top: 373px;
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 50px;
}
